In [45]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt
import csv

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 12:04:33)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
1.14.0
0.22.0

In [46]:
tables1 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=1&p=.htm")
testing1 = tables1[1]
testing1.head()

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Overseas / %,Year^,NaN,NaN
1,1,Avatar,Fox,"$2,788.0",$760.5,27.3%,"$2,027.5",72.7%,2009^
2,2,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997^
3,3,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
4,4,Avengers: Infinity War,BV,"$2,044.2",$677.5,33.1%,"$1,366.6",66.9%,2018

In [47]:
table = pd.read_html("https://www.boxofficemojo.com/people/?view=Actor&pagenum=1&sort=sumgross&order=DESC&&p=.htm")
actors = table[1]
actors.drop(0, axis = 0, inplace = True)

for i in range(7,358):
    actors.drop(i, axis = 1, inplace = True)

actors.head(55)

,0,1,2,3,4,5,6
1,Row,Person(Click to view),Total Gross,# Movies / Average,#1 Picture,Gross,NaN
2,1,Samuel L. Jackson,"$5,721.9",74,$77.3,The Avengers,$623.4
3,2,Harrison Ford,"$4,963.8",42,$118.2,Star Wars: The Force Awakens,$936.7
4,3,"Robert Downey, Jr.","$4,959.1",55,$90.2,Avengers: Infinity War,$677.5
5,4,Tom Hanks,"$4,605.7",48,$96.0,Toy Story 3,$415.0
6,5,Morgan Freeman,"$4,522.3",63,$71.8,The Dark Knight,$534.9
7,6,Scarlett Johansson,"$4,384.5",42,$104.4,Avengers: Infinity War,$677.5
8,7,Andy Serkis,"$4,357.6",26,$167.6,Star Wars: The Force Awakens,$936.7
9,8,Anthony Daniels,"$4,040.9",9,$449.0,Star Wars: The Force Awakens,$936.7
10,9,Tom Cruise,"$3,839.0",40,$96.0,War of the Worlds,$234.3
11,10,Eddie Murphy,"$3,811.1",39,$97.7,Shrek 2,$441.2
12,11,Stanley Tucci,"$3,775.9",54,$69.9,Beauty and the Beast,$504.0
13,12,Johnny Depp,"$3,687.2",48,$76.8,Dead Man's Chest,$423.3
14,13,Idris Elba,"$3,687.1",32,$115.2,Avengers: Infinity War,$677.5
15,14,Ian McKellen,"$3,654.4",32,$114.2,Beauty and the Beast,$504.0
16,15,Bradley Cooper,"$3,625.0",27,$134.3,Avengers: Infinity War,$677.5
17,16,Don Cheadle,"$3,563.0",35,$101.8,Avengers: Infinity War,$677.5
18,17,Vin Diesel,"$3,491.6",23,$151.8,Avengers: Infinity War,$677.5
19,18,Michael Caine,"$3,439.8",60,$57.3,The Dark Knight,$534.9
20,19,Gary Oldman,"$3,433.9",41,$83.8,The Dark Knight,$534.9
21,20,Dwayne Johnson,"$3,370.7",29,$116.2,Jumanji (2017),$404.5
22,21,Zoe Saldana,"$3,317.3",29,$114.4,Avatar,$760.5
23,22,Robin Williams,"$3,279.3",50,$65.6,Night at the Museum,$250.9
24,23,Woody Harrelson,"$3,264.8",58,$56.3,Catching Fire,$424.7
25,24,Cate Blanchett,"$3,255.6",43,$75.7,Return of the King,$377.8
26,25,Stellan Skarsgard,"$3,245.7",45,$72.1,The Avengers,$623.4
27,26,Robert DeNiro,"$3,233.7",81,$39.9,Meet the Fockers,$279.3
28,27,Bruce Willis,"$3,223.4",61,$52.8,Sixth Sense,$293.5
29,28,Emma Watson,"$3,206.4",18,$178.1,Beauty and the Beast,$504.0
30,29,Will Smith,"$3,205.0",25,$128.2,Suicide Squad,$325.1
31,30,Matt Damon,"$3,189.3",42,$75.9,The Martian,$228.4
32,31,Chris Evans,"$3,160.2",25,$126.4,Avengers: Infinity War,$677.5
33,32,Chris Pratt,"$3,158.3",17,$185.8,Avengers: Infinity War,$677.5
34,33,Chris Hemsworth,"$3,061.2",18,$170.1,Avengers: Infinity War,$677.5
35,34,Cameron Diaz,"$3,031.7",34,$89.2,Shrek 2,$441.2
36,35,Liam Neeson,"$2,990.8",67,$44.6,The Phantom Menace,$474.5
37,36,Orlando Bloom,"$2,988.4",18,$166.0,Dead Man's Chest,$423.3
38,37,Steve Carell,"$2,987.8",29,$103.0,Despicable Me 2,$368.1
39,38,Helena Bonham Carter,"$2,962.4",38,$78.0,Harry Potter / Deathly Hallows (P2),$381.0
40,39,Owen Wilson,"$2,922.5",43,$68.0,Night at the Museum,$250.9
41,40,Julia Roberts,"$2,912.8",44,$66.2,Ocean's Eleven,$183.4
42,41,Mark Ruffalo,"$2,905.1",36,$80.7,Avengers: Infinity War,$677.5
43,42,Ralph Fiennes,"$2,903.1",37,$78.5,Harry Potter / Deathly Hallows (P2),$381.0
44,43,Mark Wahlberg,"$2,902.4",41,$70.8,Transformers 4,$245.4
45,44,Carrie Fisher,"$2,878.7",18,$159.9,Star Wars: The Force Awakens,$936.7
46,45,Ben Stiller,"$2,829.1",38,$74.5,Meet the Fockers,$279.3
47,46,Forest Whitaker,"$2,826.2",57,$49.6,Black Panther,$700.0
48,47,Simon Pegg,"$2,818.6",23,$122.5,Star Wars: The Force Awakens,$936.7
49,48,Elizabeth Banks,"$2,811.7",36,$78.1,Catching Fire,$424.7
50,49,Mark Hamill,"$2,797.1",13,$215.2,Star Wars: The Force Awakens,$936.7
51,50,Adam Sandler,"$2,780.2",33,$84.2,Hotel Transylvania 2,$169.7

In [48]:
actors.drop(1, axis = 0, inplace = True)

In [49]:
#rename columns
actors.columns = ['Rank', 'primaryname', 'Total_Gross_Millions', 'Num_Movies', 'Average_Millions', 'Num_1_Picture', 'Gross_Millions']

#reindex by rank:
actors.set_index('Rank', inplace = True)
actors.head(50)

,primaryname,Total_Gross_Millions,Num_Movies,Average_Millions,Num_1_Picture,Gross_Millions
Rank,,,,,,
1,Samuel L. Jackson,"$5,721.9",74,$77.3,The Avengers,$623.4
2,Harrison Ford,"$4,963.8",42,$118.2,Star Wars: The Force Awakens,$936.7
3,"Robert Downey, Jr.","$4,959.1",55,$90.2,Avengers: Infinity War,$677.5
4,Tom Hanks,"$4,605.7",48,$96.0,Toy Story 3,$415.0
5,Morgan Freeman,"$4,522.3",63,$71.8,The Dark Knight,$534.9
6,Scarlett Johansson,"$4,384.5",42,$104.4,Avengers: Infinity War,$677.5
7,Andy Serkis,"$4,357.6",26,$167.6,Star Wars: The Force Awakens,$936.7
8,Anthony Daniels,"$4,040.9",9,$449.0,Star Wars: The Force Awakens,$936.7
9,Tom Cruise,"$3,839.0",40,$96.0,War of the Worlds,$234.3
10,Eddie Murphy,"$3,811.1",39,$97.7,Shrek 2,$441.2
11,Stanley Tucci,"$3,775.9",54,$69.9,Beauty and the Beast,$504.0
12,Johnny Depp,"$3,687.2",48,$76.8,Dead Man's Chest,$423.3
13,Idris Elba,"$3,687.1",32,$115.2,Avengers: Infinity War,$677.5
14,Ian McKellen,"$3,654.4",32,$114.2,Beauty and the Beast,$504.0
15,Bradley Cooper,"$3,625.0",27,$134.3,Avengers: Infinity War,$677.5
16,Don Cheadle,"$3,563.0",35,$101.8,Avengers: Infinity War,$677.5
17,Vin Diesel,"$3,491.6",23,$151.8,Avengers: Infinity War,$677.5
18,Michael Caine,"$3,439.8",60,$57.3,The Dark Knight,$534.9
19,Gary Oldman,"$3,433.9",41,$83.8,The Dark Knight,$534.9
20,Dwayne Johnson,"$3,370.7",29,$116.2,Jumanji (2017),$404.5
21,Zoe Saldana,"$3,317.3",29,$114.4,Avatar,$760.5
22,Robin Williams,"$3,279.3",50,$65.6,Night at the Museum,$250.9
23,Woody Harrelson,"$3,264.8",58,$56.3,Catching Fire,$424.7
24,Cate Blanchett,"$3,255.6",43,$75.7,Return of the King,$377.8
25,Stellan Skarsgard,"$3,245.7",45,$72.1,The Avengers,$623.4
26,Robert DeNiro,"$3,233.7",81,$39.9,Meet the Fockers,$279.3
27,Bruce Willis,"$3,223.4",61,$52.8,Sixth Sense,$293.5
28,Emma Watson,"$3,206.4",18,$178.1,Beauty and the Beast,$504.0
29,Will Smith,"$3,205.0",25,$128.2,Suicide Squad,$325.1
30,Matt Damon,"$3,189.3",42,$75.9,The Martian,$228.4
31,Chris Evans,"$3,160.2",25,$126.4,Avengers: Infinity War,$677.5
32,Chris Pratt,"$3,158.3",17,$185.8,Avengers: Infinity War,$677.5
33,Chris Hemsworth,"$3,061.2",18,$170.1,Avengers: Infinity War,$677.5
34,Cameron Diaz,"$3,031.7",34,$89.2,Shrek 2,$441.2
35,Liam Neeson,"$2,990.8",67,$44.6,The Phantom Menace,$474.5
36,Orlando Bloom,"$2,988.4",18,$166.0,Dead Man's Chest,$423.3
37,Steve Carell,"$2,987.8",29,$103.0,Despicable Me 2,$368.1
38,Helena Bonham Carter,"$2,962.4",38,$78.0,Harry Potter / Deathly Hallows (P2),$381.0
39,Owen Wilson,"$2,922.5",43,$68.0,Night at the Museum,$250.9
40,Julia Roberts,"$2,912.8",44,$66.2,Ocean's Eleven,$183.4
41,Mark Ruffalo,"$2,905.1",36,$80.7,Avengers: Infinity War,$677.5
42,Ralph Fiennes,"$2,903.1",37,$78.5,Harry Potter / Deathly Hallows (P2),$381.0
43,Mark Wahlberg,"$2,902.4",41,$70.8,Transformers 4,$245.4
44,Carrie Fisher,"$2,878.7",18,$159.9,Star Wars: The Force Awakens,$936.7
45,Ben Stiller,"$2,829.1",38,$74.5,Meet the Fockers,$279.3
46,Forest Whitaker,"$2,826.2",57,$49.6,Black Panther,$700.0
47,Simon Pegg,"$2,818.6",23,$122.5,Star Wars: The Force Awakens,$936.7
48,Elizabeth Banks,"$2,811.7",36,$78.1,Catching Fire,$424.7
49,Mark Hamill,"$2,797.1",13,$215.2,Star Wars: The Force Awakens,$936.7
50,Adam Sandler,"$2,780.2",33,$84.2,Hotel Transylvania 2,$169.7

In [50]:
actors.to_csv('../Data/Top50BankableActors.csv')