In [1]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt
import csv

3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
1.13.3
0.20.3

In [2]:
title_basics = open("../Data/title.basics.tsv", "rt")
title_basics_list = list(csv.reader(title_basics, delimiter = "\t", quoting = csv.QUOTE_NONE))
title_basics.close()

In [3]:
title_basics_df = pd.DataFrame(title_basics_list[1:])

In [4]:
title_basics_df.head()

,0,1,2,3,4,5,6,7,8
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [5]:
title_basics_df.columns = ["imdb_id"]+title_basics_list[0][1:]
title_basics_df.head()

,imdb_id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [7]:
title_ratings = open("../Data/title.ratings.tsv", "rt")
title_ratings_list = list(csv.reader(title_ratings, delimiter = "\t", quoting = csv.QUOTE_NONE))
title_ratings.close()

In [8]:
title_ratings_df = pd.DataFrame(title_ratings_list[1:])
title_ratings_df.columns = ["imdb_id"]+title_ratings_list[0][1:]
title_ratings_df.head()

     imdb_id averageRating numVotes
0  tt0000001           5.8     1389
1  tt0000002           6.5      163
2  tt0000003           6.6      978
3  tt0000004           6.4       98
4  tt0000005           6.2     1670

In [9]:
#Please note that bechdel_test_updated.csv was generated separately using a combination of python and SQL

bechdel = pd.read_csv("../Data/bechdel_test_data/bechdel_test_updated.csv")

In [10]:
bechdel.head()

   bechdel_id    imdb_id  rating                          title  release_yr
0        5433  tt0000003       0                 Pauvre Pierrot        1892
1        6199  tt0000012       0        Arrival of a Train, The        1896
2        5444  tt0000014       0  Tables Turned on the Gardener        1895
3        4982  tt0000091       0        House of the Devil, The        1896
4        5406  tt0000131       0              Une nuit terrible        1896

In [11]:
bechdel_titlebasics = bechdel.merge(title_basics_df, on = 'imdb_id')
bechdel_titlebasics.tail()

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
7709,5142,tt3212568,1,Beltracchi: The Art of Forgery,2013,movie,Beltracchi: The Art of Forgery,Beltracchi - Die Kunst der Fälschung,0,2014,\N,93,"Biography,Crime,Documentary"
7710,5936,tt2121382,3,Turist,2014,movie,Force Majeure,Turist,0,2014,\N,120,"Comedy,Drama"
7711,1674,tt0420238,3,"Tale of Despereaux, The",2008,movie,The Tale of Despereaux,The Tale of Despereaux,0,2008,\N,93,"Adventure,Animation,Comedy"
7712,6521,tt4298966,3,"Murder Pact, The",2015,movie,The Murder Pact,The Murder Pact,0,2015,\N,85,Thriller
7713,474,tt0053285,3,Sleeping Beauty,1959,movie,Sleeping Beauty,Sleeping Beauty,0,1959,\N,75,"Animation,Family,Fantasy"

In [12]:
bechdel_titlebasics.to_csv('../Data/bechdel_titlebasics.csv')

In [13]:
bechdel_titlebasics_ratings = bechdel_titlebasics.merge(title_ratings_df, on = 'imdb_id')

In [14]:
bechdel_titlebasics_ratings.head()

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,5433,tt0000003,0,Pauvre Pierrot,1892,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.6,978
1,6199,tt0000012,0,"Arrival of a Train, The",1896,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short",7.4,8327
2,5444,tt0000014,0,Tables Turned on the Gardener,1895,short,Tables Turned on the Gardener,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short",7.2,3634
3,4982,tt0000091,0,"House of the Devil, The",1896,short,The House of the Devil,Le manoir du diable,0,1896,\N,3,"Horror,Short",6.7,2094
4,5406,tt0000131,0,Une nuit terrible,1896,short,A Terrible Night,Une nuit terrible,0,1896,\N,1,"Comedy,Horror,Short",5.8,799

In [15]:
bechdel_titlebasics_ratings.tail()

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
7692,5142,tt3212568,1,Beltracchi: The Art of Forgery,2013,movie,Beltracchi: The Art of Forgery,Beltracchi - Die Kunst der Fälschung,0,2014,\N,93,"Biography,Crime,Documentary",7.2,1205
7693,5936,tt2121382,3,Turist,2014,movie,Force Majeure,Turist,0,2014,\N,120,"Comedy,Drama",7.3,38851
7694,1674,tt0420238,3,"Tale of Despereaux, The",2008,movie,The Tale of Despereaux,The Tale of Despereaux,0,2008,\N,93,"Adventure,Animation,Comedy",6.1,33239
7695,6521,tt4298966,3,"Murder Pact, The",2015,movie,The Murder Pact,The Murder Pact,0,2015,\N,85,Thriller,5.8,493
7696,474,tt0053285,3,Sleeping Beauty,1959,movie,Sleeping Beauty,Sleeping Beauty,0,1959,\N,75,"Animation,Family,Fantasy",7.3,115602

In [16]:
bechdel_titlebasics_ratings.to_csv('../Data/bechdel_titlebasics_ratings.csv')

In [17]:
tables1 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=1&p=.htm")
testing1 = tables1[1]

tables2 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=2&p=.htm")
testing2 = tables2[1]

tables3 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=3&p=.htm")
testing3 = tables3[1]

tables4 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=4&p=.htm")
testing4 = tables4[1]

tables5 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=5&p=.htm")
testing5 = tables5[1]

tables6 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=6&p=.htm")
testing6 = tables6[1]

tables7 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=7&p=.htm")
testing7 = tables7[1]

tables8 = pd.read_html("https://www.boxofficemojo.com/alltime/world/?pagenum=8&p=.htm")
testing8 = tables8[1]

merged_df = pd.concat([testing1, testing2, testing3, testing4, testing5, testing6, testing7, testing8])

In [18]:
movies_mojo_list = merged_df.values.tolist()
print(movies_mojo_list[0])

['Rank', 'Title', 'Studio', 'Worldwide', 'Domestic / %', 'Overseas / %', 'Year^', nan, nan]

In [19]:
headers = movies_mojo_list[0]
print(headers)

for i in range(8):
    movies_mojo_list.remove(headers)

movies_df = pd.DataFrame(movies_mojo_list)
movies_df.columns = ['Rank', 'primaryTitle', 'Studio', 'Worldwide', 'Domestic', "Domestic_Perc", 'Overseas', "Overseas_Perc", 'Year']
movies_df.head()

['Rank', 'Title', 'Studio', 'Worldwide', 'Domestic / %', 'Overseas / %', 'Year^', nan, nan]

,Rank,primaryTitle,Studio,Worldwide,Domestic,Domestic_Perc,Overseas,Overseas_Perc,Year
0,1,Avatar,Fox,"$2,788.0",$760.5,27.3%,"$2,027.5",72.7%,2009^
1,2,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997^
2,3,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
3,4,Avengers: Infinity War,BV,"$2,044.2",$677.5,33.1%,"$1,366.6",66.9%,2018
4,5,Jurassic World,Uni.,"$1,671.7",$652.3,39.0%,"$1,019.4",61.0%,2015

In [20]:
#remove ^ from Year
def release_year(year):
    if len(str(year))>4:
        return str(year)[:4]
    else:
        return str(year)

movies_df['Year'] = movies_df.Year.apply(release_year)
movies_df.head()

,Rank,primaryTitle,Studio,Worldwide,Domestic,Domestic_Perc,Overseas,Overseas_Perc,Year
0,1,Avatar,Fox,"$2,788.0",$760.5,27.3%,"$2,027.5",72.7%,2009
1,2,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997
2,3,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
3,4,Avengers: Infinity War,BV,"$2,044.2",$677.5,33.1%,"$1,366.6",66.9%,2018
4,5,Jurassic World,Uni.,"$1,671.7",$652.3,39.0%,"$1,019.4",61.0%,2015

In [21]:
#create new merge key TitleYear for movies_df
movies_df['TitleYear'] = movies_df.primaryTitle + movies_df.Year
movies_df.head()

,Rank,primaryTitle,Studio,Worldwide,Domestic,Domestic_Perc,Overseas,Overseas_Perc,Year,TitleYear
0,1,Avatar,Fox,"$2,788.0",$760.5,27.3%,"$2,027.5",72.7%,2009,Avatar2009
1,2,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997,Titanic1997
2,3,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015,Star Wars: The Force Awakens2015
3,4,Avengers: Infinity War,BV,"$2,044.2",$677.5,33.1%,"$1,366.6",66.9%,2018,Avengers: Infinity War2018
4,5,Jurassic World,Uni.,"$1,671.7",$652.3,39.0%,"$1,019.4",61.0%,2015,Jurassic World2015

In [22]:
#create new merge key TitleYear for bechdel_titlebasics_ratings
bechdel_titlebasics_ratings['TitleYear'] = bechdel_titlebasics_ratings.primaryTitle + bechdel_titlebasics_ratings.startYear
bechdel_titlebasics_ratings.head()

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,TitleYear
0,5433,tt0000003,0,Pauvre Pierrot,1892,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.6,978,Pauvre Pierrot1892
1,6199,tt0000012,0,"Arrival of a Train, The",1896,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short",7.4,8327,The Arrival of a Train1896
2,5444,tt0000014,0,Tables Turned on the Gardener,1895,short,Tables Turned on the Gardener,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short",7.2,3634,Tables Turned on the Gardener1895
3,4982,tt0000091,0,"House of the Devil, The",1896,short,The House of the Devil,Le manoir du diable,0,1896,\N,3,"Horror,Short",6.7,2094,The House of the Devil1896
4,5406,tt0000131,0,Une nuit terrible,1896,short,A Terrible Night,Une nuit terrible,0,1896,\N,1,"Comedy,Horror,Short",5.8,799,A Terrible Night1896

In [23]:
bechdel_titlebasics_ratings_mojo = bechdel_titlebasics_ratings.merge(movies_df, on = 'TitleYear')

In [24]:
bechdel_titlebasics_ratings_mojo.head(100)

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle_x,originalTitle,isAdult,startYear,...,TitleYear,Rank,primaryTitle_y,Studio,Worldwide,Domestic,Domestic_Perc,Overseas,Overseas_Perc,Year
0,291,tt0031381,3,Gone with the Wind,1939,movie,Gone with the Wind,Gone with the Wind,0,1939,...,Gone with the Wind1939,269,Gone with the Wind,MGM,$400.2,$198.7,49.6%,$201.5,50.4%,1939
1,1116,tt0034492,1,Bambi,1942,movie,Bambi,Bambi,0,1942,...,Bambi1942,512,Bambi,RKO,$267.4,$102.2,38.2%,$165.2,61.8%,1942
2,1171,tt0055254,3,One Hundred and One Dalmatians,1961,movie,101 Dalmatians,One Hundred and One Dalmatians,0,1961,...,101 Dalmatians1961,674,101 Dalmatians,Dis.,$215.9,$144.9,67.1%,$71.0,32.9%,1961
3,493,tt0061852,1,"Jungle Book, The",1967,movie,The Jungle Book,The Jungle Book,0,1967,...,The Jungle Book1967,720,The Jungle Book,Dis.,$205.8,$141.8,68.9%,$64.0,31.1%,1967
4,2224,tt0068646,2,"Godfather, The",1972,movie,The Godfather,The Godfather,0,1972,...,The Godfather1972,572,The Godfather,Par.,$245.1,$135.0,55.1%,$110.1,44.9%,1972
5,751,tt0070047,3,"Exorcist, The",1973,movie,The Exorcist,The Exorcist,0,1973,...,The Exorcist1973,235,The Exorcist,WB,$441.3,$232.9,52.8%,$208.4,47.2%,1973
6,2561,tt0073195,3,Jaws,1975,movie,Jaws,Jaws,0,1975,...,Jaws1975,212,Jaws,Uni.,$470.7,$260.0,55.2%,$210.7,44.8%,1975
7,3610,tt0075860,1,Close Encounters of the Third Kind,1977,movie,Close Encounters of the Third Kind,Close Encounters of the Third Kind,0,1977,...,Close Encounters of the Third Kind1977,425,Close Encounters of the Third Kind,Col.,$306.9,$135.2,44.1%,$171.7,55.9%,1977
8,911,tt0076666,1,Saturday Night Fever,1977,movie,Saturday Night Fever,Saturday Night Fever,0,1977,...,Saturday Night Fever1977,597,Saturday Night Fever,Par.,$237.1,$94.2,39.7%,$142.9,60.3%,1977
9,753,tt0077631,3,Grease,1978,movie,Grease,Grease,0,1978,...,Grease1978,273,Grease,Par.,$395.0,$188.8,47.8%,$206.2,52.2%,1978
10,1999,tt0078346,1,Superman,1978,movie,Superman,Superman,0,1978,...,Superman1978,442,Superman,WB,$300.2,$134.2,44.7%,$166.0,55.3%,1978
11,3504,tt0079574,1,Moonraker,1979,movie,Moonraker,Moonraker,0,1979,...,Moonraker1979,705,Moonraker,MGM,$210.3,$70.3,33.4%,$140.0,66.6%,1979
12,340,tt0082971,3,Raiders of the Lost Ark,1981,movie,Raiders of the Lost Ark,Raiders of the Lost Ark,0,1981,...,Raiders of the Lost Ark1981,279,Raiders of the Lost Ark,Par.,$389.9,$248.2,63.6%,$141.8,36.4%,1981
13,1848,tt0086960,0,Beverly Hills Cop,1984,movie,Beverly Hills Cop,Beverly Hills Cop,0,1984,...,Beverly Hills Cop1984,405,Beverly Hills Cop,Par.,$316.4,$234.8,74.2%,$81.6,25.8%,1984
14,376,tt0087332,1,Ghostbusters,1984,movie,Ghostbusters,Ghost Busters,0,1984,...,Ghostbusters1984,455,Ghostbusters,Col.,$295.2,$242.2,82.0%,$53.0,18.0%,1984
15,1048,tt0087469,0,Indiana Jones and the Temple of Doom,1984,movie,Indiana Jones and the Temple of Doom,Indiana Jones and the Temple of Doom,0,1984,...,Indiana Jones and the Temple of Doom1984,376,Indiana Jones and the Temple of Doom,Par.,$333.1,$179.9,54.0%,$153.2,46.0%,1984
16,149,tt0088763,2,Back to the Future,1985,movie,Back to the Future,Back to the Future,0,1985,...,Back to the Future1985,290,Back to the Future,Uni.,$381.1,$210.6,55.3%,$170.5,44.7%,1985
17,6155,tt0089755,3,Out of Africa,1985,movie,Out of Africa,Out of Africa,0,1985,...,Out of Africa1985,629,Out of Africa,Uni.,$227.5,$87.1,38.3%,$140.4,61.7%,1985
18,6840,tt0089880,0,Rambo: First Blood Part II,1985,movie,Rambo: First Blood Part II,Rambo: First Blood Part II,0,1985,...,Rambo: First Blood Part II1985,439,Rambo: First Blood Part II,TriS,$300.4,$150.4,50.1%,$150.0,49.9%,1985
19,6873,tt0089927,2,Rocky IV,1985,movie,Rocky IV,Rocky IV,0,1985,...,Rocky IV1985,438,Rocky IV,UA,$300.5,$127.9,42.6%,$172.6,57.4%,1985
20,3614,tt0090555,3,Crocodile Dundee,1986,movie,Crocodile Dundee,Crocodile Dundee,0,1986,...,Crocodile Dundee1986,387,Crocodile Dundee,Par.,$328.2,$174.8,53.3%,$153.4,46.7%,1986
21,1703,tt0092099,2,Top Gun,1986,movie,Top Gun,Top Gun,0,1986,...,Top Gun1986,333,Top Gun,Par.,$356.8,$179.8,50.4%,$177.0,49.6%,1986
22,1849,tt0092644,1,Beverly Hills Cop II,1987,movie,Beverly Hills Cop II,Beverly Hills Cop II,0,1987,...,Beverly Hills Cop II1987,444,Beverly Hills Cop II,Par.,$300.0,$153.7,51.2%,$146.3,48.8%,1987
23,321,tt0092890,3,Dirty Dancing,1987,movie,Dirty Dancing,Dirty Dancing,0,1987,...,Dirty Dancing1987,685,Dirty Dancing,Vest,$214.0,$64.0,29.9%,$150.0,70.1%,1987
24,4737,tt0093010,3,Fatal Attraction,1987,movie,Fatal Attraction,Fatal Attraction,0,1987,...,Fatal Attraction1987,401,Fatal Attraction,Par.,$320.1,$156.6,48.9%,$163.5,51.1%,1987
25,256,tt0094898,3,Coming to America,1988,movie,Coming to America,Coming to America,0,1988,...,Coming to America1988,466,Coming to America,Par.,$288.8,$128.2,44.4%,$160.6,55.6%,1988
26,3482,tt0095953,1,Rain Man,1988,movie,Rain Man,Rain Man,0,1988,...,Rain Man1988,337,Rain Man,MGM,$354.8,$172.8,48.7%,$182.0,51.3%,1988
27,572,tt0096320,3,Twins,1988,movie,Twins,Twins,0,1988,...,Twins1988,670,Twins,Uni.,$216.6,$111.9,51.7%,$104.7,48.3%,1988
28,136,tt0096438,1,Who Framed Roger Rabbit,1988,movie,Who Framed Roger Rabbit,Who Framed Roger Rabbit,0,1988,...,Who Framed Roger Rabbit1988,384,Who Framed Roger Rabbit,BV,$329.8,$156.5,47.4%,$173.4,52.6%,1988
29,150,tt0096874,3,Back to the Future Part II,1989,movie,Back to the Future Part II,Back to the Future Part II,0,1989,...,Back to the Future Part II1989,380,Back to the Future Part II,Uni.,$332.0,$118.5,35.7%,$213.5,64.3%,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,776,tt0109830,1,Forrest Gump,1994,movie,Forrest Gump,Forrest Gump,0,1994,...,Forrest Gump1994,111,Forrest Gump,Par.,$677.9,$330.3,48.7%,$347.7,51.3%,1994
71,6451,tt0109831,3,Four Weddings and a Funeral,1994,movie,Four Weddings and a Funeral,Four Weddings and a Funeral,0,1994,...,Four Weddings and a Funeral1994,566,Four Weddings and a Funeral,Gram.,$245.7,$52.7,21.4%,$193.0,78.6%,1994
72,100,tt0110357,1,"Lion King, The",1994,movie,The Lion King,The Lion King,0,1994,...,The Lion King1994,39,The Lion King,BV,$968.5,$422.8,43.7%,$545.7,56.3%,1994
73,4697,tt0110475,1,"Mask, The",1994,movie,The Mask,The Mask,0,1994,...,The Mask1994,347,The Mask,NL,$351.6,$119.9,34.1%,$231.6,65.9%,1994
74,91,tt0110912,3,Pulp Fiction,1994,movie,Pulp Fiction,Pulp Fiction,0,1994,...,Pulp Fiction1994,686,Pulp Fiction,Mira.,$213.9,$107.9,50.5%,$106.0,49.5%,1994
75,440,tt0111257,3,Speed,1994,movie,Speed,Speed,0,1994,...,Speed1994,349,Speed,Fox,$350.4,$121.2,34.6%,$229.2,65.4%,1994
76,1098,tt0111503,3,True Lies,1994,movie,True Lies,True Lies,0,1994,...,True Lies1994,292,True Lies,Fox,$378.9,$146.3,38.6%,$232.6,61.4%,1994
77,5710,tt0112281,0,Ace Ventura: When Nature Calls,1995,movie,Ace Ventura: When Nature Calls,Ace Ventura: When Nature Calls,0,1995,...,Ace Ventura: When Nature Calls1995,694,Ace Ventura: When Nature Calls,WB,$212.4,$108.4,51.0%,$104.0,49.0%,1995
78,2060,tt0112384,3,Apollo 13,1995,movie,Apollo 13,Apollo 13,0,1995,...,Apollo 131995,336,Apollo 13,Uni.,$355.2,$173.8,48.9%,$181.4,51.1%,1995
79,7364,tt0112431,3,Babe,1995,movie,Babe,Babe,0,1995,...,Babe1995,545,Babe,Uni.,$254.1,$63.7,25.0%,$190.5,75.0%,1995
80,1024,tt0112462,1,Batman Forever,1995,movie,Batman Forever,Batman Forever,0,1995,...,Batman Forever1995,368,Batman Forever,WB,$336.5,$184.0,54.7%,$152.5,45.3%,1995
81,205,tt0112573,2,Braveheart,1995,movie,Braveheart,Braveheart,0,1995,...,Braveheart1995,689,Braveheart,Par.,$213.2,$75.6,35.5%,$137.6,64.5%,1995
82,106,tt0112642,3,Casper,1995,movie,Casper,Casper,0,1995,...,Casper1995,471,Casper,Uni.,$287.9,$100.3,34.8%,$187.6,65.2%,1995
83,6251,tt0113189,3,GoldenEye,1995,movie,GoldenEye,GoldenEye,0,1995,...,GoldenEye1995,342,GoldenEye,MGM,$352.2,$106.4,30.2%,$245.8,69.8%,1995
84,3801,tt0113497,3,Jumanji,1995,movie,Jumanji,Jumanji,0,1995,...,Jumanji1995,523,Jumanji,Sony,$262.8,$100.5,38.2%,$162.3,61.8%,1995
85,207,tt0114148,3,Pocahontas,1995,movie,Pocahontas,Pocahontas,0,1995,...,Pocahontas1995,360,Pocahontas,BV,$346.1,$141.6,40.9%,$204.5,59.1%,1995
86,87,tt0114709,1,Toy Story,1995,movie,Toy Story,Toy Story,0,1995,...,Toy Story1995,301,Toy Story,BV,$373.6,$191.8,51.3%,$181.8,48.7%,1995
87,2303,tt0114898,2,Waterworld,1995,movie,Waterworld,Waterworld,0,1995,...,Waterworld1995,518,Waterworld,Uni.,$264.2,$88.2,33.4%,$176.0,66.6%,1995
88,2449,tt0116209,3,"English Patient, The",1996,movie,The English Patient,The English Patient,0,1996,...,The English Patient1996,613,The English Patient,Mira.,$232.0,$78.7,33.9%,$153.3,66.1%,1996
89,6839,tt0116213,3,Eraser,1996,movie,Eraser,Eraser,0,1996,...,Eraser1996,584,Eraser,WB,$242.3,$101.3,41.8%,$141.0,58.2%,1996
90,1062,tt0116583,1,"Hunchback of Notre Dame, The",1996,movie,The Hunchback of Notre Dame,The Hunchback of Notre Dame,0,1996,...,The Hunchback of Notre Dame1996,391,The Hunchback of Notre Dame,BV,$325.3,$100.1,30.8%,$225.2,69.2%,1996
91,444,tt0116629,3,Independence Day,1996,movie,Independence Day,Independence Day,0,1996,...,Independence Day1996,72,Independence Day,Fox,$817.4,$306.2,37.5%,$511.2,62.5%,1996
92,8008,tt0116695,2,Jerry Maguire,1996,movie,Jerry Maguire,Jerry Maguire,0,1996,...,Jerry Maguire1996,497,Jerry Maguire,Sony,$273.6,$154.0,56.3%,$119.6,43.7%,1996
93,445,tt0117060,1,Mission: Impossible,1996,movie,Mission: Impossible,Mission: Impossible,0,1996,...,Mission: Impossible1996,222,Mission: Impossible,Par.,$457.7,$181.0,39.5%,$276.7,60.5%,1996
94,38,tt0117500,1,"Rock, The",1996,movie,The Rock,The Rock,0,1996,...,The Rock1996,372,The Rock,BV,$335.1,$134.1,40.0%,$201.0,60.0%,1996
95,435,tt0117705,1,Space Jam,1996,movie,Space Jam,Space Jam,0,1996,...,Space Jam1996,619,Space Jam,WB,$230.4,$90.4,39.2%,$140.0,60.8%,1996
96,1082,tt0117998,3,Twister,1996,movie,Twister,Twister,0,1996,...,Twister1996,193,Twister,WB,$494.5,$241.7,48.9%,$252.8,51.1%,1996
97,1068,tt0118571,1,Air Force One,1997,movie,Air Force One,Air Force One,0,1997,...,Air Force One1997,406,Air Force One,Sony,$315.2,$173.0,54.9%,$142.2,45.1%,1997
98,573,tt0118880,2,Con Air,1997,movie,Con Air,Con Air,0,1997,...,Con Air1997,641,Con Air,BV,$224.0,$101.1,45.1%,$122.9,54.9%,1997
99,5329,tt0119094,1,Face/Off,1997,movie,Face/Off,Face/Off,0,1997,...,Face/Off1997,567,Face/Off,Par.,$245.7,$112.3,45.7%,$133.4,54.3%,1997

In [25]:
bechdel_titlebasics_ratings_mojo.tail(100)

,bechdel_id,imdb_id,rating,title,release_yr,titleType,primaryTitle_x,originalTitle,isAdult,startYear,...,TitleYear,Rank,primaryTitle_y,Studio,Worldwide,Domestic,Domestic_Perc,Overseas,Overseas_Perc,Year
497,7860,tt1981128,3,Geostorm,2017,movie,Geostorm,Geostorm,0,2017,...,Geostorm2017,650,Geostorm,WB,$221.6,$33.7,15.2%,$187.9,84.8%,2017
498,5110,tt1985966,3,Cloudy with a Chance of Meatballs 2,2013,movie,Cloudy with a Chance of Meatballs 2,Cloudy with a Chance of Meatballs 2,0,2013,...,Cloudy with a Chance of Meatballs 22013,495,Cloudy with a Chance of Meatballs 2,Sony,$274.3,$119.8,43.7%,$154.5,56.3%,2013
499,5487,tt2004420,3,Neighbors,2014,movie,Neighbors,Neighbors,0,2014,...,Neighbors2014,503,Neighbors,Uni.,$270.7,$150.2,55.5%,$120.5,44.5%,2014
500,5671,tt2015381,3,Guardians of the Galaxy,2014,movie,Guardians of the Galaxy,Guardians of the Galaxy,0,2014,...,Guardians of the Galaxy2014,84,Guardians of the Galaxy,BV,$773.3,$333.2,43.1%,$440.2,56.9%,2014
501,4416,tt2017020,3,"Smurfs 2, The",2013,movie,The Smurfs 2,The Smurfs 2,0,2013,...,The Smurfs 22013,354,The Smurfs 2,Sony,$347.5,$71.0,20.4%,$276.5,79.6%,2013
502,5217,tt2024469,3,Non-Stop,2014,movie,Non-Stop,Non-Stop,0,2014,...,Non-Stop2014,645,Non-Stop,Uni.,$222.8,$92.2,41.4%,$130.6,58.6%,2014
503,5941,tt2084970,2,"Imitation Game, The",2014,movie,The Imitation Game,The Imitation Game,0,2014,...,The Imitation Game2014,609,The Imitation Game,Wein.,$233.6,$91.1,39.0%,$142.4,61.0%,2014
504,7351,tt2094766,1,Assassin&#39;s Creed,2016,movie,Assassin's Creed,Assassin's Creed,0,2016,...,Assassin's Creed2016,586,Assassin's Creed,Fox,$240.9,$54.6,22.7%,$186.3,77.3%,2016
505,6255,tt2096673,3,Inside Out,2015,movie,Inside Out,Inside Out,0,2015,...,Inside Out2015,64,Inside Out,BV,$857.6,$356.5,41.6%,$501.1,58.4%,2015
506,5624,tt2103281,1,Dawn of the Planet of the Apes,2014,movie,Dawn of the Planet of the Apes,Dawn of the Planet of the Apes,0,2014,...,Dawn of the Planet of the Apes2014,102,Dawn of the Planet of the Apes,Fox,$710.6,$208.5,29.3%,$502.1,70.7%,2014
507,5598,tt2109248,3,Transformers: Age of Extinction,2014,movie,Transformers: Age of Extinction,Transformers: Age of Extinction,0,2014,...,Transformers: Age of Extinction2014,22,Transformers: Age of Extinction,Par.,"$1,104.1",$245.4,22.2%,$858.6,77.8%,2014
508,6367,tt2120120,1,Pixels,2015,movie,Pixels,Pixels,0,2015,...,Pixels2015,573,Pixels,Sony,$244.9,$78.7,32.2%,$166.1,67.8%,2015
509,6281,tt2126355,3,San Andreas,2015,movie,San Andreas,San Andreas,0,2015,...,San Andreas2015,209,San Andreas,WB (NL),$474.0,$155.2,32.7%,$318.8,67.3%,2015
510,6118,tt2179136,1,American Sniper,2014,movie,American Sniper,American Sniper,0,2014,...,American Sniper2014,164,American Sniper,WB,$547.4,$350.1,64.0%,$197.3,36.0%,2014
511,6000,tt2180411,3,Into the Woods,2014,movie,Into the Woods,Into the Woods,0,2014,...,Into the Woods2014,690,Into the Woods,BV,$213.1,$128.0,60.1%,$85.1,39.9%,2014
512,4419,tt2191701,2,Grown Ups 2,2013,movie,Grown Ups 2,Grown Ups 2,0,2013,...,Grown Ups 22013,561,Grown Ups 2,Sony,$247.0,$133.7,54.1%,$113.3,45.9%,2013
513,7751,tt2239822,1,Valerian and the City of a Thousand Planets,2017,movie,Valerian and the City of a Thousand Planets,Valerian and the City of a Thousand Planets,0,2017,...,Valerian and the City of a Thousand Planets2017,637,Valerian and the City of a Thousand Planets,STX,$225.9,$41.2,18.2%,$184.7,81.8%,2017
514,5906,tt2245084,3,Big Hero 6,2014,movie,Big Hero 6,Big Hero 6,0,2014,...,Big Hero 62014,119,Big Hero 6,BV,$657.8,$222.5,33.8%,$435.3,66.2%,2014
515,7724,tt2250912,1,Spider-Man: Homecoming,2017,movie,Spider-Man: Homecoming,Spider-Man: Homecoming,0,2017,...,Spider-Man: Homecoming2017,55,Spider-Man: Homecoming,Sony,$880.2,$334.2,38.0%,$546.0,62.0%,2017
516,6808,tt2267968,3,Kung Fu Panda 3,2016,movie,Kung Fu Panda 3,Kung Fu Panda 3,0,2016,...,Kung Fu Panda 32016,183,Kung Fu Panda 3,Fox,$521.2,$143.5,27.5%,$377.6,72.5%,2016
517,5801,tt2267998,3,Gone Girl,2014,movie,Gone Girl,Gone Girl,0,2014,...,Gone Girl2014,310,Gone Girl,Fox,$369.3,$167.8,45.4%,$201.6,54.6%,2014
518,6932,tt2277860,3,Finding Dory,2016,movie,Finding Dory,Finding Dory,0,2016,...,Finding Dory2016,30,Finding Dory,BV,"$1,028.6",$486.3,47.3%,$542.3,52.7%,2016
519,6105,tt2279373,2,"SpongeBob Movie: Sponge Out of Water, The",2015,movie,The SpongeBob Movie: Sponge Out of Water,The SpongeBob Movie: Sponge Out of Water,0,2015,...,The SpongeBob Movie: Sponge Out of Water2015,393,The SpongeBob Movie: Sponge Out of Water,Par.,$325.2,$163.0,50.1%,$162.2,49.9%,2015
520,7963,tt2283362,3,Jumanji: Welcome to the Jungle,2017,movie,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,0,2017,...,Jumanji: Welcome to the Jungle2017,42,Jumanji: Welcome to the Jungle,Sony,$962.2,$404.5,42.0%,$557.7,58.0%,2017
521,6338,tt2293640,3,Minions,2015,movie,Minions,Minions,0,2015,...,Minions2015,17,Minions,Uni.,"$1,159.4",$336.0,29.0%,$823.4,71.0%,2015
522,5663,tt2294449,2,22 Jump St,2014,movie,22 Jump Street,22 Jump Street,0,2014,...,22 Jump Street2014,381,22 Jump Street,Sony,$331.3,$191.7,57.9%,$139.6,42.1%,2014
523,4858,tt2294629,3,Frozen,2013,movie,Frozen,Frozen,0,2013,...,Frozen2013,12,Frozen,BV,"$1,276.5",$400.7,31.4%,$875.7,68.6%,2013
524,5994,tt2310332,1,"Hobbit: The Battle of the Five Armies, The",2014,movie,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,0,2014,...,The Hobbit: The Battle of the Five Armies2014,45,The Hobbit: The Battle of the Five Armies,WB (NL),$956.0,$255.1,26.7%,$700.9,73.3%,2014
525,7607,tt2316204,3,Alien: Covenant,2017,movie,Alien: Covenant,Alien: Covenant,0,2017,...,Alien: Covenant2017,587,Alien: Covenant,Fox,$240.9,$74.3,30.8%,$166.6,69.2%,2017
526,6113,tt2322441,3,Fifty Shades of Grey,2015,movie,Fifty Shades of Grey,Fifty Shades of Grey,0,2015,...,Fifty Shades of Grey2015,155,Fifty Shades of Grey,Uni.,$571.0,$166.2,29.1%,$404.8,70.9%,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,7292,tt3521164,3,Moana,2016,movie,Moana,Moana,0,2016,...,Moana2016,124,Moana,BV,$643.3,$248.8,38.7%,$394.6,61.3%,2016
568,7709,tt3606752,3,Cars 3,2017,movie,Cars 3,Cars 3,0,2017,...,Cars 32017,286,Cars 3,BV,$383.9,$152.9,39.8%,$231.0,60.2%,2017
569,8290,tt3606756,3,Incredibles 2,2018,movie,Incredibles 2,Incredibles 2,0,2018,...,Incredibles 22018,36,Incredibles 2,BV,$996.5,$572.8,57.5%,$423.7,42.5%,2018
570,6466,tt3659388,3,"Martian, The",2015,movie,The Martian,The Martian,0,2015,...,The Martian2015,128,The Martian,Fox,$630.2,$228.4,36.2%,$401.7,63.8%,2015
571,7504,tt3731562,1,Kong: Skull Island,2017,movie,Kong: Skull Island,Kong: Skull Island,0,2017,...,Kong: Skull Island2017,156,Kong: Skull Island,WB,$566.7,$168.1,29.7%,$398.6,70.3%,2017
572,7334,tt3748528,3,Rogue One,2016,movie,Rogue One: A Star Wars Story,Rogue One,0,2016,...,Rogue One: A Star Wars Story2016,26,Rogue One: A Star Wars Story,BV,"$1,056.1",$532.2,50.4%,$523.9,49.6%,2016
573,8246,tt3778644,2,Solo: A Star Wars Story,2018,movie,Solo: A Star Wars Story,Solo: A Star Wars Story,0,2018,...,Solo: A Star Wars Story2018,281,Solo: A Star Wars Story,BV,$388.5,$212.7,54.7%,$175.8,45.3%,2018
574,7353,tt3783958,3,La La Land,2016,movie,La La Land,La La Land,0,2016,...,La La Land2016,230,La La Land,LG/S,$446.1,$151.1,33.9%,$295.0,66.1%,2016
575,7553,tt3874544,1,"Boss Baby, The",2017,movie,The Boss Baby,The Boss Baby,0,2017,...,The Boss Baby2017,179,The Boss Baby,Fox,$528.0,$175.0,33.1%,$353.0,66.9%,2017
576,7717,tt3890160,1,Baby Driver,2017,movie,Baby Driver,Baby Driver,0,2017,...,Baby Driver2017,630,Baby Driver,TriS,$226.9,$107.8,47.5%,$119.1,52.5%,2017
577,7595,tt3896198,3,Guardians of the Galaxy Vol. 2,2017,movie,Guardians of the Galaxy Vol. 2,Guardians of the Galaxy Vol. 2,0,2017,...,Guardians of the Galaxy Vol. 22017,63,Guardians of the Galaxy Vol. 2,BV,$863.8,$389.8,45.1%,$473.9,54.9%,2017
578,6915,tt3949660,3,Teenage Mutant Ninja Turtles: Out of the Shadows,2016,movie,Teenage Mutant Ninja Turtles: Out of the Shadows,Teenage Mutant Ninja Turtles: Out of the Shadows,0,2016,...,Teenage Mutant Ninja Turtles: Out of the Shado...,568,Teenage Mutant Ninja Turtles: Out of the Shadows,Par.,$245.6,$82.1,33.4%,$163.6,66.6%,2016
579,6457,tt4046784,3,Maze Runner: The Scorch Trials,2015,movie,Maze Runner: The Scorch Trials,Maze Runner: The Scorch Trials,0,2015,...,Maze Runner: The Scorch Trials2015,411,Maze Runner: The Scorch Trials,Fox,$312.3,$81.7,26.2%,$230.6,73.8%,2015
580,8178,tt4154756,3,Avengers: Infinity War,2018,movie,Avengers: Infinity War,Avengers: Infinity War,0,2018,...,Avengers: Infinity War2018,4,Avengers: Infinity War,BV,"$2,044.2",$677.5,33.1%,"$1,366.6",66.9%,2018
581,7046,tt4196776,1,Jason Bourne,2016,movie,Jason Bourne,Jason Bourne,0,2016,...,Jason Bourne2016,253,Jason Bourne,Uni.,$415.5,$162.4,39.1%,$253.1,60.9%,2016
582,7469,tt4465564,3,Fifty Shades Darker,2017,movie,Fifty Shades Darker,Fifty Shades Darker,0,2017,...,Fifty Shades Darker2017,295,Fifty Shades Darker,Uni.,$377.0,$114.6,30.4%,$262.4,69.6%,2017
583,8056,tt4500922,3,Maze Runner: The Death Cure,2018,movie,Maze Runner: The Death Cure,Maze Runner: The Death Cure,0,2018,...,Maze Runner: The Death Cure2018,470,Maze Runner: The Death Cure,Fox,$288.3,$58.0,20.1%,$230.2,79.9%,2018
584,7579,tt4630562,3,"Fate of the Furious, The",2017,movie,The Fate of the Furious,The Fate of the Furious,0,2017,...,The Fate of the Furious2017,14,The Fate of the Furious,Uni.,"$1,236.0",$226.0,18.3%,"$1,010.0",81.7%,2017
585,7826,tt4649466,1,Kingsman: The Golden Circle,2017,movie,Kingsman: The Golden Circle,Kingsman: The Golden Circle,0,2017,...,Kingsman: The Golden Circle2017,262,Kingsman: The Golden Circle,Fox,$410.9,$100.2,24.4%,$310.7,75.6%,2017
586,7336,tt4846340,3,Hidden Figures,2016,movie,Hidden Figures,Hidden Figures,0,2016,...,Hidden Figures2016,600,Hidden Figures,Fox,$236.0,$169.6,71.9%,$66.3,28.1%,2016
587,7772,tt4877122,1,"Emoji Movie, The",2017,movie,The Emoji Movie,The Emoji Movie,0,2017,...,The Emoji Movie2017,663,The Emoji Movie,Sony,$217.8,$86.1,39.5%,$131.7,60.5%,2017
588,8302,tt4881806,3,Jurassic World: Fallen Kingdom,2018,movie,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,0,2018,...,Jurassic World: Fallen Kingdom2018,15,Jurassic World: Fallen Kingdom,Uni.,"$1,235.5",$397.6,32.2%,$837.9,67.8%,2018
589,7748,tt5013056,0,Dunkirk,2017,movie,Dunkirk,Dunkirk,0,2017,...,Dunkirk2017,180,Dunkirk,WB,$527.3,$190.1,36.0%,$337.2,64.0%,2017
590,7508,tt5052448,3,Get Out,2017,movie,Get Out,Get Out,0,2017,...,Get Out2017,541,Get Out,Uni.,$255.5,$176.0,68.9%,$79.4,31.1%,2017
591,7374,tt5074352,3,Dangal,2016,movie,Dangal,Dangal,0,2016,...,Dangal2016,434,Dangal,UTV,$302.9,$12.4,4.1%,$290.5,95.9%,2016
592,7779,tt5140878,3,Annabelle: Creation,2017,movie,Annabelle: Creation,Annabelle: Creation,0,2017,...,Annabelle: Creation2017,427,Annabelle: Creation,WB (NL),$306.5,$102.1,33.3%,$204.4,66.7%,2017
593,8229,tt5463162,2,Deadpool 2,2018,movie,Deadpool 2,Deadpool 2,0,2018,...,Deadpool 22018,98,Deadpool 2,Fox,$731.6,$317.7,43.4%,$414.0,56.6%,2018
594,8157,tt6644200,1,A Quiet Place,2018,movie,A Quiet Place,A Quiet Place,0,2018,...,A Quiet Place2018,378,A Quiet Place,Par.,$332.4,$187.8,56.5%,$144.6,43.5%,2018
595,8026,tt7131870,1,Wolf Warrior 2,2017,movie,Wolf Warrior 2,Zhan lang II,0,2017,...,Wolf Warrior 22017,61,Wolf Warrior 2,HC,$870.3,$2.7,0.3%,$867.6,99.7%,2017
596,16,tt0293564,1,Rush Hour 3,2007,movie,Rush Hour 3,Rush Hour 3,0,2007,...,Rush Hour 32007,535,Rush Hour 3,NL,$258.0,$140.1,54.3%,$117.9,45.7%,2007

In [26]:
bechdel_titlebasics_ratings_mojo.to_csv('../Data/all_movie_columns.csv')